<?xml version="1.0" encoding="UTF-8"?>

<!--L
   Copyright SAIC, Ellumen and RSNA (CTP)


   Distributed under the OSI-approved BSD 3-Clause License.
   See http://ncip.github.com/national-biomedical-image-archive/LICENSE.txt for details.
L-->

 <beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:p="http://www.springframework.org/schema/p"
        xmlns:context="http://www.springframework.org/schema/context"
        xmlns:jee="http://www.springframework.org/schema/jee"
        xmlns:tx="http://www.springframework.org/schema/tx"
        xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
                            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
                            http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.5.xsd
                            http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

  <context:annotation-config/>

  <bean id="springApplicationContext" class="gov.nih.nci.nbia.util.SpringApplicationContext"/>


  <!-- Define all DAO below -->
  <bean id="seriesDao" class="gov.nih.nci.nbia.deletion.dao.SeriesDAOImpl">
	<property name="sessionFactory"><ref bean="sessionFactory"/></property>
  </bean>
  <bean id="annotationDao" class="gov.nih.nci.nbia.deletion.dao.AnnotationDAOImpl">
	<property name="sessionFactory"><ref bean="sessionFactory"/></property>
  </bean>
  <bean id="imageDao" class="gov.nih.nci.nbia.deletion.dao.ImageDAOImpl">
 	<property name="sessionFactory"><ref bean="sessionFactory"/></property>
  </bean>
  <bean id="studyDao" class="gov.nih.nci.nbia.deletion.dao.StudyDAOImpl">
	<property name="sessionFactory"><ref bean="sessionFactory"/></property>
  </bean>
  <bean id="patientDao" class="gov.nih.nci.nbia.deletion.dao.PatientDAOImpl">
	<property name="sessionFactory"><ref bean="sessionFactory"/></property>
  </bean>
  <bean id="deletionAuditTrailDao" class="gov.nih.nci.nbia.deletion.dao.DeletionAuditTrailDAOImpl">
	<property name="sessionFactory"><ref bean="sessionFactory"/></property>
  </bean>

   <!-- Define all the services below -->
  <bean id="imageDeletionService" class="gov.nih.nci.nbia.deletion.ImageDeletionServiceImpl">
  </bean>
   <!-- Define all the services below -->
  <bean id="imageFileDeletionService" class="gov.nih.nci.nbia.deletion.ImageFileDeletionServiceImpl">
  </bean>
  <bean id="imageFileDeletionCheck" class="gov.nih.nci.nbia.deletion.ImageFileDeletionTestCaseSupportImpl"/>

</beans>
