<?xml version='1.0' encoding='UTF-8'?>

<!--L
   Copyright SAIC, Ellumen and RSNA (CTP)


   Distributed under the OSI-approved BSD 3-Clause License.
   See http://ncip.github.com/national-biomedical-image-archive/LICENSE.txt for details.
L-->

<project>
  <builders class="vector">
    <hudson.tasks.Ant>
      <targets>build-all deploy:local:install</targets>
      <antName>ant-1.7.0</antName>
      <antOpts>-Dproperties.file=ci-install.properties</antOpts>
      <properties>ci.server=true</properties>
    </hudson.tasks.Ant>
  </builders>
  <publishers class="vector">
    <hudson.tasks.Mailer>
      <recipients>saksass@mail.nih.gov blakec@mail.nih.gov lethai@mail.nih.gov panq@mail.nih.gov zengje@mail.nih.gov</recipients>
      <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>true</sendToIndividuals>
    </hudson.tasks.Mailer>
  </publishers>
  <buildWrappers class="vector"/>
  <scm class="hudson.scm.SubversionSCM">
    <locations>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>http://gforge.nci.nih.gov/svnroot/ncia/trunk/software</remote>
        <local>ncia</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
    </locations>
    <useUpdate>false</useUpdate>
  </scm>
  <quietPeriod>60</quietPeriod>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <triggers class="vector">
    <hudson.triggers.TimerTrigger>
      <spec>0 0 * * *</spec>
    </hudson.triggers.TimerTrigger>
  </triggers>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <description></description>
  <actions class="vector"/>
</project>