/*L
 *  Copyright SAIC, Ellumen and RSNA (CTP)
 *
 *
 *  Distributed under the OSI-approved BSD 3-Clause License.
 *  See http://ncip.github.com/national-biomedical-image-archive/LICENSE.txt for details.
 */

#firefoxWarningDiv {
    text-align:left;
    font-size:8pt;
    border-top: solid 1px black;
    margin-top: 5px;
}

#prefetchButtonDiv {
	margin-top: 5px;
    font-size: 8pt;
    text-align: left;
}

#loadingDiv {
    display: none;
    background-color: #ffff99;
    text-align: center;
}

#slideShowControlBarDiv table {
    margin-left: auto;
    margin-right: auto;
}

#slideShowSlider { 
    margin: 2px 10px 10px 10px; 
    position: relative; 
    
    width: 200px;
    height: 25px;
    background: transparent url(../images/slider-images-track-right.png) no-repeat;           
}

#highlightedSpan { 
    background: transparent url(../images/hs.png) no-repeat;           
    position: absolute;
    top: 7px;
    /* FF shows nothing without this height */
    height: 25px;
}


#beginEndSlider { 
    margin: 2px 10px; 
    position: relative; 
    
    width: 200px;
    height: 25px;         
}

div.handle { 
    width: 12px; 
    height: 25px; 
    cursor: move; 
    position: absolute;
    /* above highlited span */ 
    z-index: 2;
}

#slideShowDiv {
    text-align: center;
    height: 64px;
}

#slideShowFrame {
    width: 512px;
    height: 422px;
}

#beginHandle {
    background: transparent url(../images/l-thumb-round.gif) no-repeat;
}

#endHandle {
    background: transparent url(../images/r-thumb-round.gif) no-repeat;
}

#currentHandle {   
   cursor: move; 
   position: absolute;       
   width: 19px;
   /* FF shows nothing without this height */
   height: 20px;   
   background: transparent url(../images/slider-images-handle.png) no-repeat;
}