@application.context.name@{ 
 gov.nih.nci.security.authentication.loginmodules.RDBMSLoginModule Required
 driver="@database.driver@" 
 url="@database.url@"
 user="@database.user@" 
 passwd="@database.password@" 
 query="SELECT * FROM csm_user WHERE login_name=? and password=?"
 encryption-enabled="YES";
};
