<?xml version='1.0' encoding='UTF-8'?>

<!--L
   Copyright SAIC, Ellumen and RSNA (CTP)


   Distributed under the OSI-approved BSD 3-Clause License.
   See http://ncip.github.com/national-biomedical-image-archive/LICENSE.txt for details.
L-->

<project>
  <builders class="vector">
    <hudson.tasks.Ant>
      <targets>ivy:clean&#x0D;
build-all</targets>
      <antName>ant-1.7.0</antName>
      <properties>ci.server=true</properties>
    </hudson.tasks.Ant>
  </builders>
  <publishers class="vector">
    <hudson.tasks.ArtifactArchiver>
      <artifacts>**/ncia_mysql/reports/</artifacts>
      <latestOnly>false</latestOnly>
    </hudson.tasks.ArtifactArchiver>
    <hudson.tasks.junit.JUnitResultArchiver>
      <testResults>**/ncia_mysql/reports/junit/**/*.xml</testResults>
    </hudson.tasks.junit.JUnitResultArchiver>
    <hudson.plugins.checkstyle.CheckStylePublisher>
      <pattern>**/ncia_mysql/reports/checkstyle/**/*.xml</pattern>
      <threshold></threshold>
      <thresholdEnabled>false</thresholdEnabled>
      <minimumAnnotations>0</minimumAnnotations>
      <healthy></healthy>
      <unHealthy></unHealthy>
      <healthyAnnotations>0</healthyAnnotations>
      <unHealthyAnnotations>0</unHealthyAnnotations>
      <healthyReportEnabled>false</healthyReportEnabled>
      <height></height>
      <pluginName>[CHECKSTYLE] </pluginName>
    </hudson.plugins.checkstyle.CheckStylePublisher>
    <hudson.plugins.violations.ViolationsPublisher>
      <config>
        <typeConfigs>
          <no-comparator/>
          <entry>
            <string>checkstyle</string>
            <hudson.plugins.violations.TypeConfig>
              <type>checkstyle</type>
              <min>999999</min>
              <max>1000000</max>
              <unstable>999999</unstable>
              <usePattern>false</usePattern>
              <pattern>**/ncia_mysql/reports/checkstyle/**/*.xml</pattern>
            </hudson.plugins.violations.TypeConfig>
          </entry>
          <entry>
            <string>cpd</string>
            <hudson.plugins.violations.TypeConfig>
              <type>cpd</type>
              <min>999999</min>
              <max>1000000</max>
              <unstable>999999</unstable>
              <usePattern>false</usePattern>
              <pattern></pattern>
            </hudson.plugins.violations.TypeConfig>
          </entry>
          <entry>
            <string>findbugs</string>
            <hudson.plugins.violations.TypeConfig>
              <type>findbugs</type>
              <min>999999</min>
              <max>1000000</max>
              <unstable>999999</unstable>
              <usePattern>false</usePattern>
              <pattern></pattern>
            </hudson.plugins.violations.TypeConfig>
          </entry>
          <entry>
            <string>fxcop</string>
            <hudson.plugins.violations.TypeConfig>
              <type>fxcop</type>
              <min>999999</min>
              <max>1000000</max>
              <unstable>999999</unstable>
              <usePattern>false</usePattern>
              <pattern></pattern>
            </hudson.plugins.violations.TypeConfig>
          </entry>
          <entry>
            <string>pmd</string>
            <hudson.plugins.violations.TypeConfig>
              <type>pmd</type>
              <min>999999</min>
              <max>1000000</max>
              <unstable>999999</unstable>
              <usePattern>false</usePattern>
              <pattern>**/ncia_mysql/reports/pmd/**/*.xml</pattern>
            </hudson.plugins.violations.TypeConfig>
          </entry>
          <entry>
            <string>pylint</string>
            <hudson.plugins.violations.TypeConfig>
              <type>pylint</type>
              <min>999999</min>
              <max>1000000</max>
              <unstable>999999</unstable>
              <usePattern>false</usePattern>
              <pattern></pattern>
            </hudson.plugins.violations.TypeConfig>
          </entry>
          <entry>
            <string>simian</string>
            <hudson.plugins.violations.TypeConfig>
              <type>simian</type>
              <min>999999</min>
              <max>1000000</max>
              <unstable>999999</unstable>
              <usePattern>false</usePattern>
              <pattern>**/ncia_mysql/reports/simian**.xml</pattern>
            </hudson.plugins.violations.TypeConfig>
          </entry>
        </typeConfigs>
        <limit>999999</limit>
        <sourcePathPattern></sourcePathPattern>
        <fauxProjectPath></fauxProjectPath>
        <encoding>default</encoding>
      </config>
    </hudson.plugins.violations.ViolationsPublisher>
    <hudson.plugins.pmd.PmdPublisher>
      <pattern>**/ncia_mysql/reports/pmd/**/*.xml</pattern>
      <threshold></threshold>
      <thresholdEnabled>false</thresholdEnabled>
      <minimumAnnotations>0</minimumAnnotations>
      <healthy></healthy>
      <unHealthy></unHealthy>
      <healthyAnnotations>0</healthyAnnotations>
      <unHealthyAnnotations>0</unHealthyAnnotations>
      <healthyReportEnabled>false</healthyReportEnabled>
      <height></height>
      <pluginName>[PMD] </pluginName>
    </hudson.plugins.pmd.PmdPublisher>
    <hudson.tasks.Mailer>
      <recipients>zhoujim@mail.nih.gov porankisv@mail.nih.gov saksass@mail.nih.gov blakec@mail.nih.gov lethai@mail.nih.gov panq@mail.nih.gov zengje@mail.nih.gov</recipients>
      <dontNotifyEveryUnstableBuild>true</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>true</sendToIndividuals>
    </hudson.tasks.Mailer>
  </publishers>
  <buildWrappers class="vector"/>
  <scm class="hudson.scm.SubversionSCM">
    <locations>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>http://gforge.nci.nih.gov/svnroot/ncia/branches/NCIA-DB-REENGINEER-4_0/software</remote>
        <local>ncia_mysql</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
    </locations>
    <useUpdate>false</useUpdate>
  </scm>
  <quietPeriod>60</quietPeriod>
  <canRoam>true</canRoam>
  <disabled>true</disabled>
  <triggers class="vector">
    <hudson.triggers.SCMTrigger>
      <spec>*/5 * * * *</spec>
    </hudson.triggers.SCMTrigger>
  </triggers>
  <logRotator>
    <daysToKeep>30</daysToKeep>
    <numToKeep>100</numToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <description></description>
  <actions class="vector"/>
</project>