<?xml version='1.0' encoding='UTF-8'?>

<!--L
   Copyright SAIC, Ellumen and RSNA (CTP)


   Distributed under the OSI-approved BSD 3-Clause License.
   See http://ncip.github.com/national-biomedical-image-archive/LICENSE.txt for details.
L-->

<hudson>
  <numExecutors>2</numExecutors>
  <authorizationStrategy class="hudson.security.AuthorizationStrategy$Unsecured"/>
  <securityRealm class="hudson.security.SecurityRealm$None"/>
  <jdks>
    <jdk>
      <name>JDK1.5.0_06</name>
      <javaHome>/usr/jdk1.5.0_06/</javaHome>
    </jdk>
  </jdks>
  <slaves/>
  <quietPeriod>60</quietPeriod>
  <views/>
  <slaveAgentPort>0</slaveAgentPort>
  <secretKey>819bcdc0cef1dc24f1db886d22bf72e0bfa78fc52e43a00d4eeff2bc194084b7</secretKey>
</hudson>