<?xml version="1.0" encoding="UTF-8" ?>
<!--L
   Copyright SAIC and Ellumen


   Distributed under the OSI-approved BSD 3-Clause License.
   See http://ncip.github.com/national-biomedical-image-archive/LICENSE.txt for details.
L-->
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<mvc:annotation-driven />

	<mvc:default-servlet-handler />

	<!--Basic application beans. -->
	<bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>

	<!--bean id="accessConfirmationController" class="gov.nih.nci.nbia.restMVC.AccessConfirmationController">
		<property name="tokenServices" ref="tokenServices" />
		<property name="consumerDetailsService" ref="consumerDetails" />
	</bean-->

</beans>
