<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p" 
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jee="http://www.springframework.org/schema/jee" 
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
                           http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.5.xsd
                           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

  <!-- ========================= RESOURCE DEFINITIONS ========================= -->

  <!-- Configurer that replaces ${...} placeholders with values from a properties file -->
  <!-- (in this case, JDBC-related settings for the dataSource definition below) -->
  <!-- <context:property-placeholder location="classpath:database.properties"/> -->

  <!--
    Uses Apache Commons DBCP for connection pooling. See Commons DBCP documentation
    for the required JAR files. Alternatively you can use another connection pool
    such as C3P0, similarly configured using Spring.
  -->
  <!-- <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close"
      p:driverClassName="${jdbc.driverClassName}" p:url="${jdbc.url}" p:username="${jdbc.username}"
      p:password="${jdbc.password}"/>
  -->
  <!-- JNDI DataSource for JEE environments -->
  <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
    <property name="location" value="classpath:hibernate.properties"/>
  </bean> 
  

  <bean id="hProperties" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
    <property name="location" value="classpath:hibernate.properties" />
  </bean> 

  <jee:jndi-lookup id="dataSource" jndi-name="${hibernate.connection.datasource}"/>

  <!-- Hibernate SessionFactory -->
  <bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
  
    <property name="dataSource" ref="dataSource"/>


    <!-- this goes haywire in ear.... claims to find dupes.  not sure what the issue is -->
    <!-- 
    <property name="mappingLocations">
      <value>classpath*:gov/nih/nci/ncia/internaldomain/*.hbm.xml,classpath*:gov/nih/nci/ncia/security/*.hbm.xml</value>
    </property>
      -->
    <property name="mappingResources">
      <list>
        <value>gov/nih/nci/ncia/internaldomain/ClinicalTrial.hbm.xml</value>
        <value>gov/nih/nci/ncia/internaldomain/Patient.hbm.xml</value>
        <value>gov/nih/nci/ncia/internaldomain/Study.hbm.xml</value>
        <value>gov/nih/nci/ncia/internaldomain/GeneralSeries.hbm.xml</value>
        <value>gov/nih/nci/ncia/internaldomain/GeneralImage.hbm.xml</value>
        <value>gov/nih/nci/ncia/internaldomain/GeneralEquipment.hbm.xml</value>
        <value>gov/nih/nci/ncia/internaldomain/CTImage.hbm.xml</value>
        <value>gov/nih/nci/ncia/internaldomain/StudyNumber.hbm.xml</value>
        <value>gov/nih/nci/ncia/internaldomain/TrialDataProvenance.hbm.xml</value>
        <value>gov/nih/nci/ncia/internaldomain/TrialSite.hbm.xml</value>
        <value>gov/nih/nci/ncia/internaldomain/Annotation.hbm.xml</value>
        <value>gov/nih/nci/ncia/internaldomain/DeletionAuditTrail.hbm.xml</value>
                
        <value>gov/nih/nci/ncia/security/NCIAUser.hbm.xml</value>
        <value>gov/nih/nci/ncia/internaldomain/CollectionDesc.hbm.xml</value>
        <value>gov/nih/nci/ncia/internaldomain/ModalityDesc.hbm.xml</value>
        <value>gov/nih/nci/ncia/internaldomain/CustomSeriesList.hbm.xml</value>
        <value>gov/nih/nci/ncia/internaldomain/CustomSeriesListAttribute.hbm.xml</value>
        <value>gov/nih/nci/ncia/internaldomain/DownloadDataHistory.hbm.xml</value>
        <value>gov/nih/nci/ncia/internaldomain/ImageMarkup.hbm.xml</value>
        <value>gov/nih/nci/ncia/internaldomain/LoginHistory.hbm.xml</value>
        <value>gov/nih/nci/ncia/internaldomain/ManufacturerModelSoftware.hbm.xml</value>
        <value>gov/nih/nci/ncia/internaldomain/NumberMonth.hbm.xml</value>
        <value>gov/nih/nci/ncia/internaldomain/QCStatusHistory.hbm.xml</value>
        <value>gov/nih/nci/ncia/internaldomain/QueryHistory.hbm.xml</value>
        <value>gov/nih/nci/ncia/internaldomain/QueryHistoryAttribute.hbm.xml</value>
        <value>gov/nih/nci/ncia/internaldomain/SavedQuery.hbm.xml</value>
        <value>gov/nih/nci/ncia/internaldomain/SavedQueryAttribute.hbm.xml</value>
        <value>gov/nih/nci/ncia/internaldomain/SavedQueryLastExec.hbm.xml</value>
        <value>gov/nih/nci/ncia/internaldomain/SubmissionHistory.hbm.xml</value>
        
        <value>gov/nih/nci/ncia/internaldomain/AimImagingObservationCharacteristic.hbm.xml</value>
        <value>gov/nih/nci/ncia/internaldomain/AimQuantification.hbm.xml</value>        
      </list>
    </property>
        

    <property name="hibernateProperties" ref="hProperties"/>
  </bean>

  <!-- Transaction manager for a single Hibernate SessionFactory (alternative to JTA) -->
  <bean id="transactionManager" 
        class="org.springframework.orm.hibernate3.HibernateTransactionManager"
        p:sessionFactory-ref="sessionFactory"/>

  <bean id="springApplicationContext" class="gov.nih.nci.ncia.util.SpringApplicationContext"/>
  
  
  <bean id="aimImgObsCharacteristicQuantificationDAO" class="gov.nih.nci.ncia.dao.AimImgObsCharacteristicQuantificationDAOImpl">
    <property name="sessionFactory">
      <ref bean="sessionFactory"/>
    </property>
  </bean>
  
  <bean id="aimImgObsCharacteristicDAO" class="gov.nih.nci.ncia.dao.AimImgObsCharacteristicDAOImpl">
    <property name="sessionFactory">
      <ref bean="sessionFactory"/>
    </property>
  </bean>
    
  <bean id="imageDAO2" class="gov.nih.nci.nbia.dao.ImageDAOImpl">
    <property name="sessionFactory">
      <ref bean="sessionFactory"/>
    </property>
  </bean>  

  <bean id="annotationDAO2" class="gov.nih.nci.ncia.dao.AnnotationDAOImpl">
    <property name="sessionFactory">
      <ref bean="sessionFactory"/>
    </property>
  </bean>
  <bean id="collectionDescDAO" class="gov.nih.nci.ncia.dao.CollectionDescDAOImpl">
    <property name="sessionFactory">
      <ref bean="sessionFactory"/>
    </property>
  </bean>  
  <bean id="customSeriesListDAO" class="gov.nih.nci.ncia.dao.CustomSeriesListDAOImpl">
    <property name="sessionFactory">
      <ref bean="sessionFactory"/>
    </property>
  </bean>  
  <bean id="downloadDataDAO" class="gov.nih.nci.ncia.dao.DownloadDataDAOImpl">
    <property name="sessionFactory">
      <ref bean="sessionFactory"/>
    </property>
  </bean>
  <bean id="generalSeriesDAO" class="gov.nih.nci.ncia.dao.GeneralSeriesDAOImpl">
    <property name="sessionFactory">
      <ref bean="sessionFactory"/>
    </property>
  </bean>  
  <bean id="imageDAO" class="gov.nih.nci.ncia.dao.ImageDAOImpl">
    <property name="sessionFactory">
      <ref bean="sessionFactory"/>
    </property>
  </bean>   
  <bean id="loginHistoryDAO" class="gov.nih.nci.ncia.dao.LoginHistoryDAOImpl">
    <property name="sessionFactory">
      <ref bean="sessionFactory"/>
    </property>
  </bean>   
  <bean id="patientDAO" class="gov.nih.nci.ncia.dao.PatientDAOImpl">
    <property name="sessionFactory">
      <ref bean="sessionFactory"/>
    </property>
  </bean> 
  <bean id="qcStatusDAO" class="gov.nih.nci.ncia.dao.QcStatusDAOImpl">
    <property name="sessionFactory">
      <ref bean="sessionFactory"/>
    </property>
  </bean>  
  <bean id="studyDAO" class="gov.nih.nci.ncia.dao.StudyDAOImpl">
    <property name="sessionFactory">
      <ref bean="sessionFactory"/>
    </property>
  </bean>  
  <bean id="studyNumberDAO" class="gov.nih.nci.ncia.dao.StudyNumberDAOImpl">
    <property name="sessionFactory">
      <ref bean="sessionFactory"/>
    </property>
  </bean> 
  <bean id="submissionHistoryDAO" class="gov.nih.nci.ncia.dao.SubmissionHistoryDAOImpl">
    <property name="sessionFactory">
      <ref bean="sessionFactory"/>
    </property>
  </bean>   
  <bean id="queryHandler" class="gov.nih.nci.ncia.dynamicsearch.QueryHandlerImpl">
    <property name="sessionFactory">
      <ref bean="sessionFactory"/>
    </property>
  </bean>  
  <bean id="markupManager" class="gov.nih.nci.ncia.markup.MarkupManagerImpl">
    <property name="sessionFactory">
      <ref bean="sessionFactory"/>
    </property>
  </bean>    
  <bean id="queryStorageManager" class="gov.nih.nci.ncia.querystorage.QueryStorageManagerImpl">
    <property name="sessionFactory">
      <ref bean="sessionFactory"/>
    </property>
  </bean>  
  <bean id="dicomQueryHandler" class="gov.nih.nci.ncia.search.DICOMQueryHandlerImpl" scope="prototype">
    <property name="sessionFactory">
      <ref bean="sessionFactory"/>
    </property>
  </bean>          
  <bean id="nciaSecurityManager" 
        class="gov.nih.nci.ncia.security.NCIASecurityManagerImpl"
        init-method="init">

    <property name="sessionFactory">
      <ref bean="sessionFactory"/>
    </property>
  </bean> 
  <bean id="seriesDao" class="gov.nih.nci.ncia.deletion.dao.SeriesDAOImpl">
    <property name="sessionFactory">
      <ref bean="sessionFactory"/>
    </property>
  </bean> 
  <bean id="annotationDao" class="gov.nih.nci.ncia.deletion.dao.AnnotationDAOImpl">
    <property name="sessionFactory">
      <ref bean="sessionFactory"/>
    </property>
  </bean> 
  <bean id="imageDao" class="gov.nih.nci.ncia.deletion.dao.ImageDAOImpl">
    <property name="sessionFactory">
      <ref bean="sessionFactory"/>
    </property>
  </bean> 
  <bean id="studyDao" class="gov.nih.nci.ncia.deletion.dao.StudyDAOImpl">
    <property name="sessionFactory">
      <ref bean="sessionFactory"/>
    </property>
  </bean>   
  <bean id="patientDao" class="gov.nih.nci.ncia.deletion.dao.PatientDAOImpl">
    <property name="sessionFactory">
      <ref bean="sessionFactory"/>
    </property>
  </bean>
  <bean id="deletionAuditTrailDao" class="gov.nih.nci.ncia.deletion.dao.DeletionAuditTrailDAOImpl">
    <property name="sessionFactory">
      <ref bean="sessionFactory"/>
    </property>
  </bean>
  <bean id="modalityDescDAO" class="gov.nih.nci.ncia.dao.ModalityDescDAOImpl">
    <property name="sessionFactory">
      <ref bean="sessionFactory"/>
    </property>
  </bean>  
  
  <!--
    Activates various annotations to be detected in bean classes:
    Spring's @Required and @Autowired, as well as JSR 250's @Resource.
  -->
  <context:annotation-config/>

  <!--
    Instruct Spring to perform declarative transaction management
    automatically on annotated classes.
  -->
  <tx:annotation-driven/>

  <!--
    Exporter that exposes the Hibernate statistics service via JMX. Autodetects the
    service MBean, using its bean name as JMX object name.
  -->
  <context:mbean-export/>

  

</beans>
