<?xml version="1.0" encoding="UTF-8"?>

<!--L
   Copyright SAIC, Ellumen and RSNA (CTP)


   Distributed under the OSI-approved BSD 3-Clause License.
   See http://ncip.github.com/national-biomedical-image-archive/LICENSE.txt for details.
L-->

<web-app version="2.4"
         xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
  <display-name>nbia</display-name>

  <!-- begin FACELETS -->
  <!-- Use Documents Saved as *.xhtml -->
  <context-param>
    <param-name>javax.faces.DEFAULT_SUFFIX</param-name>
    <param-value>.xhtml</param-value>
  </context-param>
  <!-- Special Debug Output for Development -->
  <!--
  <context-param>
    <param-name>facelets.DEVELOPMENT</param-name>
    <param-value>true</param-value>
  </context-param>
  <context-param>
    <param-name>com.sun.faces.verifyObjects</param-name>
    <param-value>true</param-value>
  </context-param>
  <context-param>
    <param-name>com.sun.faces.validateXml</param-name>
    <param-value>true</param-value>
  </context-param>
  <context-param>
    <param-name>com.icesoft.faces.debugDOMUpdate</param-name>
    <param-value>true</param-value>
  </context-param>
   -->
  <context-param>
    <param-name>facelets.LIBRARIES</param-name>
    <param-value>/WEB-INF/ncia-facelets.taglib.xml</param-value>
  </context-param>
  <context-param>
    <param-name>javax.faces.CONFIG_FILES</param-name>
    <param-value>/WEB-INF/faces-config.xml</param-value>
  </context-param>
  <context-param>
    <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
    <param-value>server</param-value>
  </context-param>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value> classpath:applicationContext-hibernate.xml, /WEB-INF/applicationContext-service.xml</param-value>
  </context-param>
  <!--  for @$#%@$ progress bar and search results -->
  <context-param>
    <param-name>com.icesoft.faces.synchronousUpdate</param-name>
    <param-value>false</param-value>
  </context-param>
  <context-param>
    <param-name>com.icesoft.faces.connectionTimeout</param-name>
    <param-value>1000000</param-value>
  </context-param>
  <!--  required or else popup windows will make icefaces unresponsive -->
  <context-param>
    <param-name>com.icesoft.faces.concurrentDOMViews</param-name>
    <param-value>true</param-value>
  </context-param>
  <context-param>
		<param-name>com.icesoft.faces.standardRequestScope</param-name>
		<param-value>false</param-value>
 	</context-param>
  <!-- experiment -->
  <context-param>
    <param-name>com.icesoft.faces.coalesceUpdates</param-name>
    <param-value>false</param-value>
  </context-param>
  <context-param>
    <param-name>com.icesoft.faces.connectionLostRedirectURI</param-name>
    <param-value>'/connectionLost.jsp'</param-value>
  </context-param>
  <context-param>
    <param-name>com.icesoft.faces.sessionExpiredRedirectURI</param-name>
    <param-value>'/sessionExpired.jsp'</param-value>
  </context-param>
  <context-param> 
    <param-name>org.jboss.jbossfaces.WAR_BUNDLES_JSF_IMPL</param-name> 
    <param-value>true</param-value> 
 </context-param> 
 <context-param>
  <param-name>com.icesoft.faces. checkJavaScript</param-name>
  <param-value>false</param-value>
 </context-param>
<context-param>
		<param-name>Owasp.CsrfGuard.Config</param-name>
		<param-value>WEB-INF/Owasp.CsrfGuard.properties</param-value>
	</context-param>
	
	<context-param>
		<param-name>Owasp.CsrfGuard.Config.Print</param-name>
		<param-value>true</param-value>
	</context-param>

  <filter>
    <filter-name>Security Page Filter</filter-name>
    <filter-class>gov.nih.nci.nbia.security.SecurityCheckFilter</filter-class>
  </filter>
  <filter>
    <filter-name>URL Parameter Filter</filter-name>
    <filter-class>gov.nih.nci.nbia.ispy.URLParameterFilter</filter-class>
  </filter>
  <filter>
    <filter-name>Pretty Filter</filter-name>
    <filter-class>com.ocpsoft.pretty.PrettyFilter</filter-class>
  </filter>
  <filter>
     <filter-name>CSRFGuard</filter-name>
     <filter-class>org.owasp.csrfguard.CsrfGuardFilter</filter-class>
   </filter>
   <filter-mapping>
      <filter-name>CSRFGuard</filter-name> 
      <url-pattern>/uploadHtml</url-pattern>
   </filter-mapping>

  <filter-mapping>
    <filter-name>URL Parameter Filter</filter-name>
    <url-pattern>*.jsf</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>Security Page Filter</filter-name>
    <url-pattern>*.jsf</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>Pretty Filter</filter-name>
    <url-pattern>*.jsf</url-pattern>
  </filter-mapping>

  <listener>
     <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
  </listener>
  <listener>
    <listener-class>com.sun.faces.config.ConfigureListener</listener-class>
  </listener> 
<listener>		
	<listener-class>org.owasp.csrfguard.CsrfGuardServletContextListener</listener-class>	
</listener>	
<listener>		
	<listener-class>org.owasp.csrfguard.CsrfGuardHttpSessionListener</listener-class>	
</listener>
  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet>
    <servlet-name>Startup Servlet</servlet-name>
    <servlet-class>gov.nih.nci.nbia.servlet.StartupServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>thumbnailViewer</servlet-name>
    <servlet-class>gov.nih.nci.nbia.servlet.ThumbnailServer</servlet-class>
  </servlet>
    <servlet>
    <servlet-name>ImageServlet</servlet-name>
    <servlet-class>gov.nih.nci.nbia.viewer.ImageServlet</servlet-class>
  </servlet>
    <servlet>
    <servlet-name>MarkupQueryServlet</servlet-name>
    <servlet-class>gov.nih.nci.nbia.viewer.MarkupQueryServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MarkupReadServlet</servlet-name>
    <servlet-class>gov.nih.nci.nbia.viewer.MarkupReadServlet</servlet-class>
  </servlet>
    <servlet>
    <servlet-name>MarkupSaveServlet</servlet-name>
    <servlet-class>gov.nih.nci.nbia.viewer.MarkupSaveServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BasketDownloadServlet</servlet-name>
    <servlet-class>gov.nih.nci.nbia.servlet.BasketDownloadServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>Persistent Faces Servlet</servlet-name>
    <servlet-class>com.icesoft.faces.webapp.xmlhttp.PersistentFacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>Blocking Servlet</servlet-name>
    <servlet-class>com.icesoft.faces.webapp.xmlhttp.BlockingServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>DynamicJNLPServlet</servlet-name>
    <servlet-class>gov.nih.nci.nbia.servlet.DynamicJNLPServlet</servlet-class>
  </servlet>
  <!-- file upload Servlet -->
  <servlet>
    <servlet-name>uploadServlet</servlet-name>
    <servlet-class>com.icesoft.faces.component.inputfile.FileUploadServlet</servlet-class>
    <load-on-startup> 1 </load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>publicThumbnailServlet</servlet-name>
    <servlet-class>gov.nih.nci.nbia.servlet.PublicOnlyThumbnailServlet</servlet-class>
    <load-on-startup> 1 </load-on-startup>
  </servlet>
<!-- CSRF -->
<servlet>
     <servlet-name>JavaScriptServlet</servlet-name>
     <servlet-class>org.owasp.csrfguard.servlet.JavaScriptServlet</servlet-class>
     <init-param>
         <param-name>source-file</param-name>
         <param-value>WEB-INF/Owasp.CsrfGuard.js</param-value>
     </init-param>
     <init-param>
         <param-name>inject-into-forms</param-name>
         <param-value>true</param-value>
     </init-param>
     <init-param>
         <param-name>inject-into-attributes</param-name>
         <param-value>true</param-value>
     </init-param>
    <init-param>
         <param-name>domain-strict</param-name>
         <param-value>false</param-value>
    </init-param>
    <init-param>
         <param-name>referer-pattern</param-name>
         <param-value>.*/ncia.*</param-value>
    </init-param>
    <init-param>			
    	<param-name>x-requested-with</param-name>			
    	<param-value>OWASP CSRFGuard Project</param-value>		
    </init-param>
    <load-on-startup> 1 </load-on-startup>
</servlet>
<servlet-mapping>
     <servlet-name>JavaScriptServlet</servlet-name>
     <url-pattern>/JavaScriptServlet</url-pattern>
</servlet-mapping>

<!--end of CSRF-->

  <servlet-mapping>
    <servlet-name>publicThumbnailServlet</servlet-name>
    <url-pattern>/publicThumbnails</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>uploadServlet</servlet-name>
    <url-pattern>/uploadHtml</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Persistent Faces Servlet</servlet-name>
    <url-pattern>*.jsf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Persistent Faces Servlet</servlet-name>
    <url-pattern>/xmlhttp/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Blocking Servlet</servlet-name>
    <url-pattern>/block/*</url-pattern>
  </servlet-mapping>

  <!--  this is to block out direct access to xhtml files -->

  <servlet-mapping>
    <servlet-name>Persistent Faces Servlet</servlet-name>
    <url-pattern>*.xhtml</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>thumbnailViewer</servlet-name>
    <url-pattern>/thumbnailViewer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ImageServlet</servlet-name>
    <url-pattern>/ImageList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MarkupQueryServlet</servlet-name>
    <url-pattern>/MarkupQuery</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MarkupReadServlet</servlet-name>
    <url-pattern>/MarkupRead</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MarkupSaveServlet</servlet-name>
    <url-pattern>/MarkupSave</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BasketDownloadServlet</servlet-name>
    <url-pattern>/servlet/BasketDownloadServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DynamicJNLPServlet</servlet-name>
    <url-pattern>/servlet/DynamicJNLPServlet</url-pattern>
  </servlet-mapping>

  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>

  <mime-mapping>
    <extension>jnlp</extension>
    <mime-type>application/x-java-jnlp-file</mime-type>
  </mime-mapping>

  <welcome-file-list>
    <welcome-file>welcome.jsp</welcome-file>
  </welcome-file-list>


  <error-page>
    <error-code>500</error-code>
    <location>/errorPage.jsf</location>
  </error-page>

  <error-page>
    <exception-type>java.lang.Exception</exception-type>
    <location>/errorPage.jsf</location>
  </error-page>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Verboten</web-resource-name>
      <url-pattern>/*</url-pattern>
      <http-method>DELETE</http-method>
      <http-method>OPTIONS</http-method>
      <!-- http-method>SEARCH</http-method>
      <http-method>COPY</http-method>
      <http-method>MOVE</http-method>
      <http-method>PROPFIND</http-method>
      <http-method>PROPPATCH</http-method>
      <http-method>MKCOL</http-method>
      <http-method>LOCK</http-method>
      <http-method>UNLOCK</http-method-->
    </web-resource-collection>
    <auth-constraint/>
  </security-constraint>
</web-app>

